.site-footer {
    /* Elimina la propiedad position: fixed; */
    background: linear-gradient(to bottom, #FFFFFF, #87CEEB);
    padding: 50px 0; /* Ajusta el relleno según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Ancho completo */
    clear: both; /* Limpia los flotantes */
}

.site-footer .container {
    max-width: 900px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el contenido del footer */
    margin-left: 475px;
}

.site-footer p {
    color: #000; /* Color del texto completamente negro */
    margin-bottom: 20px; /* Espacio entre el texto y los íconos de redes sociales */
}

.social-icons a {
    color: #000; /* Color de los íconos de las redes sociales */
    font-size: 24px; /* Tamaño de los íconos */
    margin-right: 10px; /* Espaciado entre los íconos */
}

.social-icons a:hover {
    color: #0077A2; /* Cambia el color al pasar el mouse */
}





